

/**
 * .my-settings-history
 */
.total-point{
	display: inline-block;
	font-size: 45px;
	color:#428BCA;
	margin-bottom: 20px;
}
.history-group .point-icon,
.history-group .history-time{
	color: #b2b2b2;
}
.history-group .point-value{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	padding-right:10px;
	width: 4em;
	text-align: right;
	white-space: nowrap;
}
	.history-group .point-value.plus{
		color: #FF4081;
	}
	.history-group .point-value.minus{
		color: #5cb85c;
	}