.account-dashboard .panel-body{
	padding-bottom: 20px;
}
#account-navbar a i.fa{
	width: 1.2em;
	text-align: center;
}
@media (min-width: 768px) {
	#account-navbar .navbar{
		box-shadow: 0 1px 0 1px rgba(0,0,0,.07);
		border: none;
		border-radius: 2px;
	}
	#account-navbar .navbar-header{
		float: none;
		background: #F5F5F5;
		border-radius: 4px;
	}
	#account-navbar .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	#account-navbar .navbar ul {
		float: none;
	}
	#account-navbar .navbar ul:not {
		display: block;

	}
	#account-navbar .navbar li {
		float: none;
		display: block;
		border-top: 1px solid rgba(0,0,0,.05);
	}
	#account-navbar .navbar li.active a{
		background: #428BCA;
		color: #fff;
	}
	#account-navbar .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	#account-navbar li a:hover {
		background: #eee;
		color: #333;
	}

}




/**
 * .my-settings-history
 */
.total-point{
	font-size: 45px;
	color:#428BCA;
	display: inline-block;
	margin-bottom: 20px;
}
.history-group .point-name,
.history-group .history-time{
	color: #b2b2b2;
}
.history-group .point-value{
	font-size: 20px;
	font-weight: bold;
	padding-right:10px;
}
	.history-group .point-value.plus{
		color: #FF4081;
	}
	.history-group .point-value.minus{
		color: #5cb85c;
	}