.edit-head-thumbnail{
	width: 100px;
}
.edit-post-thumbnail img{
	max-width: 80px;
}
.edit-post-title h4{
	font-size: 1em;
	margin-top: 0;
}
.edit-post-action{
	visibility: hidden;
}
.edit-table tr:nth-child(2n){
	background: #f8f8f8;
}
.edit-table tr:hover{
	background: #eee;
}
	.edit-table tr:hover .edit-post-action{
		visibility: visible;
	}
	.edit-table thead {
		background: #eee;
	}
	.edit-table tbody{
		font-size: 12px;
	}
