@font-face {
	font-family: 'icomoon';
	src:url('../../../images/min/frontend/fonts/icomoon.eot?rkfoxg');
	src:url('../../../images/min/frontend/fonts/icomoon.eot?#iefix-rkfoxg') format('embedded-opentype'),
		url('../../../images/min/frontend/fonts/icomoon.woff?rkfoxg') format('woff'),
		url('../../../images/min/frontend/fonts/icomoon.ttf?rkfoxg') format('truetype'),
		url('../../../images/min/frontend/fonts/icomoon.svg?rkfoxg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
	content: "\f09e";
}

.icon-angle-left:before {
	content: "\f104";
}

.icon-angle-right:before {
	content: "\f105";
}

.icon-angle-up:before {
	content: "\f106";
}

.icon-angle-down:before {
	content: "\f107";
}

.icon-instagram:before {
	content: "\f16d";
}

.icon-wechat:before {
	content: "\f1d7";
}

.icon-check:before {
	content: "\f00c";
}

.icon-times:before {
	content: "\f00d";
}

.icon-lock:before {
	content: "\f023";
}

.icon-video-camera:before {
	content: "\f03d";
}

.icon-thumbs-o-up:before {
	content: "\f087";
}

.icon-thumbs-o-down:before {
	content: "\f088";
}

.icon-quote-left:before {
	content: "\f10d";
}

.icon-file-text:before {
	content: "\f15c";
}

.icon-qq:before {
	content: "\f1d6";
}

.icon-comment-discussion:before {
	content: "\e642";
}

.icon-comment:before {
	content: "\e643";
}

.icon-eye:before {
	content: "\e638";
}

.icon-user:before {
	content: "\e60b";
}

.icon-pencil:before {
	content: "\e63e";
}

.icon-music:before {
	content: "\e641";
}

.icon-tag:before {
	content: "\e60a";
}

.icon-tags:before {
	content: "\e63c";
}

.icon-spinner:before {
	content: "\e640";
}

.icon-menu:before {
	content: "\e60e";
}

.icon-bookmark:before {
	content: "\e644";
}

.icon-wordpress:before {
	content: "\e63f";
}

.icon-calendar:before {
	content: "\e609";
}

.icon-flag:before {
	content: "\e63b";
}

.icon-home:before {
	content: "\e600";
}

.icon-newspaper:before {
	content: "\e601";
}

.icon-image:before {
	content: "\e602";
}

.icon-images:before {
	content: "\e603";
}

.icon-bullhorn:before {
	content: "\e604";
}

.icon-profile:before {
	content: "\e605";
}

.icon-envelope:before {
	content: "\e606";
}

.icon-pushpin:before {
	content: "\e607";
}

.icon-clock:before {
	content: "\e608";
}

.icon-lock2:before {
	content: "\e60c";
}

.icon-cog:before {
	content: "\e60d";
}

.icon-link:before {
	content: "\e60f";
}

.icon-bookmarks:before {
	content: "\e610";
}

.icon-play:before {
	content: "\e611";
}

.icon-heart:before {
	content: "\e612";
}

.icon-star:before {
	content: "\e613";
}

.icon-star2:before {
	content: "\e614";
}

.icon-minus:before {
	content: "\e615";
}

.icon-plus:before {
	content: "\e616";
}

.icon-undo:before {
	content: "\e617";
}

.icon-qrcode:before {
	content: "\e618";
}

.icon-expand:before {
	content: "\e619";
}

.icon-users:before {
	content: "\e61a";
}

.icon-in:before {
	content: "\e61b";
}

.icon-happy:before {
	content: "\e61c";
}

.icon-happy2:before {
	content: "\e61d";
}

.icon-cancel-circle:before {
	content: "\e61e";
}

.icon-checkmark-circle:before {
	content: "\e61f";
}

.icon-out:before {
	content: "\e620";
}

.icon-help:before {
	content: "\e621";
}

.icon-user-add:before {
	content: "\e622";
}

.icon-in-alt:before {
	content: "\e623";
}

.icon-history:before {
	content: "\e624";
}

.icon-arrow-left:before {
	content: "\e625";
}

.icon-arrow-down:before {
	content: "\e626";
}

.icon-arrow-up:before {
	content: "\e627";
}

.icon-arrow-right:before {
	content: "\e628";
}

.icon-fire:before {
	content: "\e629";
}

.icon-compose:before {
	content: "\e62a";
}

.icon-stackoverflow:before {
	content: "\e62b";
}

.icon-gauge:before {
	content: "\e62c";
}

.icon-shuffle:before {
	content: "\e62d";
}

.icon-search:before {
	content: "\e62e";
}

.icon-bars:before {
	content: "\e62f";
}

.icon-light-bulb:before {
	content: "\e630";
}

.icon-pie:before {
	content: "\e631";
}

.icon-zoomin:before {
	content: "\e632";
}

.icon-zoomout:before {
	content: "\e633";
}

.icon-remove:before {
	content: "\e634";
}

.icon-share:before {
	content: "\e635";
}

.icon-users2:before {
	content: "\e636";
}

.icon-paperplane:before {
	content: "\e637";
}

.icon-warning:before {
	content: "\e639";
}

.icon-folder:before {
	content: "\e63d";
}

.icon-github:before {
	content: "\e645";
}

.icon-twitter:before {
	content: "\e646";
}

.icon-facebook:before {
	content: "\e647";
}

.icon-googleplus:before {
	content: "\e648";
}

.icon-renren:before {
	content: "\e64a";
}

.icon-sina-weibo:before {
	content: "\e63a";
}