/**
 * reset bs
 */
*{
	word-break:break-all;
}
.pager{
	margin: 0;
}
.btn-group:hover > .dropdown-menu{
	display: block;
}
.btn-group .dropdown-menu{
	left: auto;
	margin-top: 0;
	right: 0;
}

.list-group-item{
	padding: 10px 20px;
}
.row,
.form-horizontal .form-group,
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-left: -10px;
    margin-right: -10px;
}
.form-group{
	margin-bottom: 20px;
}

.navbar-form,
.navbar-left,
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
	/*margin-left: -10px;*/
}
.navbar-inverse .navbar-nav a:hover,
.navbar-inverse .navbar-nav li:hover > a{
	background: rgba(0,0,0,.1);
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus{
	background: #1976d2;
	color:#fff;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand{
	color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a ,
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus{
	background: rgba(0,0,0,.1);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	text-shadow: 0 1px 2px rgba(0,0,0,.5);

}
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form{
	border-color: rgba(0,0,0,.1);
}
.media-left .media-object,
.media-left img{
	max-width: none;
}
.container,
.container-fluid,
.navbar-collapse,
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-toggle{
	margin-left: 10px;
}
.navbar-form{
	margin: 10px -10px;
}
.navbar-nav{
	margin: 5px -10px;
}
.nav-tabs > li > a{
}
	.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs .open > a, .nav-tabs .open > a:hover, .nav-tabs .open > a:focus{
	}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color:#1976d2;
	font-weight: bold;
}
.panel-primary .panel-heading,
.panel-success .panel-heading,
.panel-info .panel-heading,
.panel-warning .panel-heading,
.panel-danger .panel-heading{
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
	.panel-primary .panel-heading a,
	.panel-success .panel-heading a,
	.panel-info .panel-heading a,
	.panel-warning .panel-heading a,
	.panel-danger .panel-heading a,
	.panel-primary .panel-heading small,
	.panel-success .panel-heading small,
	.panel-info .panel-heading small,
	.panel-warning .panel-heading small,
	.panel-danger .panel-heading small{
		color: #fff;
	}
	.panel-primary .panel-heading a:hover,
	.panel-success .panel-heading a:hover,
	.panel-info .panel-heading a:hover,
	.panel-warning .panel-heading a:hover,
	.panel-danger .panel-heading a:hover{
		text-decoration: underline;
	}
/**
 * input group
 */
.input-group-input{
	display: table-cell;
}
.input-group-input:first-child > .form-control, 
.input-group-input:first-child > .input-group{
	margin-right: -1px;
}
.input-group-input:last-child > .form-control, 
.input-group-input:last-child > .input-group{
	margin-left: -1px;
}
.input-group-addon, 
.input-group-input{
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}
.input-group-input{
    position: relative;
    font-size: 0px;
    white-space: nowrap;
}
.input-group 


.btn{
	font-weight: normal;
}
label{
	cursor: pointer;
}
.panel{
	position: relative;
	margin-bottom: 20px;
}
.panel-heading{
	padding: 10px 20px;
	margin-bottom: 0;
}
.panel-body{
	padding: 20px 20px 0 20px;
}
/**
 * global =====================================================
 */
*{
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
}
body{
	font-family: 'Microsoft Yahei','Helvetica Neue',arial,sans-serif;
	font-size: 14px;
	background: #E3E3E3;
}
a{
	text-decoration: none;
	/*color:#333;*/
	/*transition: all .3s linear;*/

}
a:hover,
a:focus,
a:active{
	outline:0;
	text-decoration: none;
	color: #D9534F;
}
a:focus,
a:active{
	/*transform: translate(0px, 1px);*/
}
.hide,.none{display: none;}
img{
	max-width: 100%;
	height: auto;
	border-radius: 2px;
}
/**
 * .banner
 */
.banner{
	display: block;
	margin-top: -30px;
	margin-bottom: -84px;
	background: #1976d2;
	background: -moz-linear-gradient(#03A9F4,#1976d2);
	background: -webkit-linear-gradient(#03A9F4,#1976d2);
	background: linear-gradient(#03A9F4,#1976d2);
}
	.banner img{
		display: block;
		width: 100%;
		border-radius: 0;
	}

/**
 * layer ======================================================
 */
.navbar-header .mx-tool{
	display: none;
}
.mx-tool{
	float: right;
	padding: 5px 10px;
	margin: 10px 0;
	font-size: 18px;
	color:#fff;
	border-radius: 4px;
}
	.mx-tool:hover,
	.mx-tool:active,
	.mx-tool:focus{
		background: rgba(0,0,0,.1);
		color:#fff;
	}
/**
 * .mx-card
 */
.panel-heading .extra{
	float: right;
}
/**
 * .avatar
 */
.avatar{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	max-width: none;
}

/**
 * .prev-next-pagination
 */
.prev-next-pagination{
	display: none;
	margin: 20px 0;
}

/**
 * .post-img-list
 */
.post-img-lists{
	list-style-type: none !important;
	padding-left: 0;
	margin: 0 -10px;
}
.post-img-list{
	margin-bottom: 20px;
}
	.post-img-list a{
		display: block;
		color:#333;
	}
		.post-img-list a:hover{
			color: #D9534F;
		}
	.post-img-list .placeholder{
		opacity: .1;
		width: 100%;
		height: auto;
	}
	.post-img-list .thumbnail-container{
		position: relative;
		overflow: hidden;
		border-radius: 2px;
	}
	.post-img-list .post-list-img{
		position: absolute;
		left: 0;
		top: 0;
	}
		.post-img-list:hover .post-list-img{
			opacity: .9;
		}
	.post-img-list .post-list-title{
		font-size: 13px;
		line-height: 20px;
		margin: 5px 0 0 0;
		height: 40px;
		overflow: hidden;
		font-weight: normal;
		padding: 0 5px;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		
	}
/**
 * .post-mixed-list
 */
	.mx-panel .panel-body{
		padding-bottom: 0;
	}
	.mx-panel-heading .panel-title{
		display: inline-block;
	}

/**
 * .widget-area
 */
	.widget > .panel-heading + div{
		padding: 0;
		margin: 20px;
		line-height: 1.5;
	}
	.widget ul{
		list-style-type: square;
		padding-left: 1em;
	}
		.widget ul li{
			margin:0 0 .5em;
			padding-bottom:5px;
			padding-left:5px;
			border-bottom:1px solid #F5F5F5;
		}
			.widget ul li:last-child{
				border-bottom:none;
				padding-bottom:0;
			}
		.widget ul li a{
			display:block;
		}
			.widget ul li a:hover,
			.widget ul li a:active{
			}
	.widget .panel-heading{
		margin-bottom: 10px;
	}
/**
 * #sidebar
 */
#sidebar .widget_nav_menu{
	overflow: hidden;
}
/**
 * .widget_rank
 */
	.widget_rank .media-left{
		position: relative;
		overflow: hidden;
		border-radius: 2px;
	}

	.widget_rank .list-group-item:before{
		position: absolute;
		bottom: -10px;
		right: 10px;
		font-size: 5em;
		color:rgb(242,242,242);
		font-style: italic;
		font-weight: bold;
		content:'1';
		text-shadow: 0 1px 0 #fff;
	}
		.widget_rank .list-group-item:nth-child(2):before{content:'2'}
		.widget_rank .list-group-item:nth-child(3):before{content:'3'}
		.widget_rank .list-group-item:nth-child(4):before{content:'4'}
		.widget_rank .list-group-item:nth-child(5):before{content:'5'}
		.widget_rank .list-group-item:nth-child(6):before{content:'6'}
		.widget_rank .list-group-item:nth-child(7):before{content:'7'}
		.widget_rank .list-group-item:nth-child(8):before{content:'8'}
		.widget_rank .list-group-item:nth-child(9):before{content:'9'}
		.widget_rank .list-group-item:nth-child(10):before{content:'10'}
		.widget_rank .list-group-item:nth-child(11):before{content:'11'}
		.widget_rank .list-group-item:nth-child(12):before{content:'12'}
		.widget_rank .list-group-item:nth-child(13):before{content:'13'}
		.widget_rank .list-group-item:nth-child(14):before{content:'14'}
		.widget_rank .list-group-item:nth-child(15):before{content:'15'}
		.widget_rank .list-group-item:nth-child(16):before{content:'16'}
		.widget_rank .list-group-item:nth-child(17):before{content:'17'}
		.widget_rank .list-group-item:nth-child(18):before{content:'18'}
		.widget_rank .list-group-item:nth-child(19):before{content:'19'}
		.widget_rank .list-group-item:nth-child(20):before{content:'20'}
	.widget_rank .list-group-item:nth-child(2n){
		background: rgb(248,248,248);
	}

		.widget_rank .list-group-item:hover:before{
			color:rgba(66,139,202,.3);
		}
		.widget_rank .list-group-item:hover .meta{
			color:#666;
		}
		.widget_rank .placeholder{
			opacity: 0;
		}
		.widget_rank .post-list-img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100px;
			height: auto;
		}
/**
 * .widget_hot_tags
 */
.widget_hot_tags .more{
	position: absolute;
	right: 10px;
	top: 10px;
}
.widget_hot_tags .widget-content{
	line-height: 1.3;
}
.widget_hot_tags .hot-tag:hover,
.widget_hot_tags .hot-tag:active{
	background: #eee;
	text-shadow: 0 1px 0 #fff;
}

.widget_rank .media-heading{
	font-size: 13px;
	line-height: 1.5;
	font-weight: bold;
	color:#d9534f;
	height: 40px;
	overflow: hidden;
}
	.widget_rank .media-object{
		width: 100px;
		max-width: none;
	}
	.widget_rank .media-body{
		position: relative;
	}
	.widget_rank .media .extra {
		position: absolute;
		bottom: 0;
		width: 100%;
		color:#b2b2b2;
		font-size: 12px;
	}
/**
 * .widget .post-img-list
 */
.widget .post-img-lists{
	margin: -10px;
	padding: 0;
}
.widget .post-img-list{
	border-bottom: none;
	margin-bottom: 10px;
}

.widget-title .more{
	float: right;
}
label.error{
	background:#E36532;
	position:relative;
	margin-top:10px;
	padding:5px 10px 5px 8px;
	color:white;
	box-shadow:0 1px 3px rgba(0,0,0,.3);
	border-radius:2px;
	border-left:4px solid #E36532 ;
	line-height:1;
}
	label.error:after{
		position:absolute;
		background:#E36532;
		width:10px;
		height:10px;
		left:10px;
		top:-5px;
		z-index:0;
		content:'';
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);	
		transform: rotate(-45deg);
		box-shadow:1px -1px 2px rgba(0,0,0,.1);
	}
/**
 * #respond
 */
 
	label.error{
		position: absolute;
		left: auto;
		top: 50%;
		right: 5px;
		margin-top: -12px;
		z-index: 10;
	}
		label.error:after{
			left: -9px;
			top: 7px;
			box-shadow: none;
		}
		label.error[for="comment-form-comment"]{
			top: 50px;
			left: 50px;
			right: auto;
		}
		label.error[for="comment-form-comment"]:after{
			top: -5px;
			left: 20px;
		}
	.comment-list #respond{
		background: rgb(248,248,248);
	}
		.comment-list #reply-title:before,
		.comment-list #reply-title:after{
			position:absolute;
			background: #2196F3;
			width:10px;
			height:10px;
			left:20px;
			top:-5px;
			z-index:0;
			content:'';
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);	
			transform: rotate(-45deg);
		}
		.comment-list #reply-title:after{
			top: -4px;
			background: #2196F3;
		}
	#respond .form-submit{
		display: none;
	}
	.comment-list #reply-title{
		line-height: 26px;
	}
	#cancel-comment-reply-link{
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 20px;
		line-height: 20px;
		opacity: .8;
	}
		#cancel-comment-reply-link:hover{
			opacity: 1;
		}
	#reply-title small{
		float: right;
		margin-right: -5px;
	}
	#commentform{
		margin: 0;
	}
	#commentform .media-left{
		padding-right: 20px;
	}

	#comment-form-comment{
		resize: vertical;
		min-height: 80px;
	}
	#commentform .submit{
	}
	#commentform label{
		font-weight: normal;
	}
/**
 * #comment-pagination-container
 */
#comment-pagination-container{
	text-align: center;
}
	#comment-pagination-container a{
		padding-left: 20px;
		padding-right: 20px;
	}
/**
 * #goto-comment
 */
#goto-comment{
	display: none;
	float: right;
}

/** 
 * #comments
 */
.comment-list{
	padding: 0;
	margin: -20px -20px 0;
}
	.comment-list .comment:hover{
		background: rgba(0,0,0,.05)
	}
	.comment-list .comment.is-me > .comment-body,
	.comment-list .comment.new > .comment-body{
		background: #FBEC88;
	}
	.comment-list .comment.is-post-author > .comment-body .author{
		font-weight: bold;
	}
	.comment-list .media{
		display: block;
		margin: 0;
	}
	.comment-list .media-left{
		padding-right: 20px;
		
	}
	.comment-list .comment-body{
		padding: 20px;
	}
	.comment-list p{
		margin-bottom: 0;
	}
	.comment-list .thread-odd{
		background: rgb(248,248,248);
	}
		.comment-list .comment-body:hover .avatar{ 
		}
	.comment-list .avatar{
		width: 50px;
		height: 50px;
	}
	.comment-list .children .avatar{
		width: 20px;
		height: 20px;
	}
	.comment-list .media-heading{
		font-size: 1em;
		margin: 0;
	}
	.comment-list .media-left{
	}
	.comment-list .media-body{
	}
	.comment-list .comment-meta-data{
		color:#b2b2b2;
	}
		.comment-list .comment-meta-data:after{
			padding-left: 5px;
			padding-right: 5px;
			content:'·';
			font-weight: normal;
		}
		.comment-list .comment-meta-data:last-child:after{
			display: none;
		}
		.comment-list .comment-meta-data a{
			color:#b2b2b2;
		}
			.comment-list .comment-meta-data a:hover,
			.comment-list .comment-meta-data a:active{
				color:#1976d2;
				text-decoration: underline;
			}
	.comment-list .author{
	}
		.comment-list .author a{
			color:#1976d2;
		}
	
.comment-list .parent{
	
}
/**
 * .comment-list .children
 */
.comment-list .children{
	margin: 0 20px 20px;
	padding: 0;
}
	.comment-list .children .children{
		margin: 0;
	}
	.comment-list .children .comment:hover{
		background: none;
	}
	.comment-list .children .comment-body{
		background: rgba(0,0,0,.03);
		border-top: 1px solid rgba(0,0,0,.05);		
	}
	.comment-list .comment-reply-title{
		display:block;
	}
	.comment-list #respond{
		margin:0 20px 20px;
	}
	.comment-list .children #respond{
		margin:0;
	}
	.comment-list .page-tip{
		margin: 20px;
	}
.page-tip{
	margin-bottom: 20px;
}
/** 
 * .tip-status
 */
.tip-status .fa{
	vertical-align:top;
	line-height: inherit;
}
.tip-status{
	position:relative;
	padding:.3rem .5rem;
	border-radius:2px;
	border: 1px solid rgba(0,0,0,.1);
}
	/** 
	 * .ui-dialog-content
	 */
	.ui-dialog-content > .tip-status{
		background:none;
		border: none;
		margin-bottom: 10px;
	}
	/** 
	 * type
	 */
	.tip-status-success,
	.tip-status-green{background:#defcd5;color:#52a954}
	
	.tip-status-error,
	.tip-status-ban{background:#f1d7d7;color:#a95252}
	
	.tip-status-warning{background:#f6f3d5;color:#96904d}
	
	.tip-status-help,
	.tip-status-blue,
	.tip-status-info{background:#e6f4f9;color:#4d8796}
	.tip-status-question{background:#FBEC88;color:#363636}
	
	.tip-status-spinner,
	.tip-status-loading{background:#FBEC88}
	/** 
	 * size 
	 */
	.tip-status-middle{font-size:1.5rem}
	.tip-status-large{font-size:2rem}

/**
 * .top-bar
 */
.top-bar{
	min-height: 1px;
	font-size: 12px;
	border-radius: 0;
	height: 30px;
	border: none;
	margin-bottom: 0;
	background: none;
	margin-bottom: -30px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	box-shadow: none;
}
	.top-bar .container{
		position: relative;
	}
	.top-bar a{
		color: #fff;
		background: none;
		border: none;
	}
		.top-bar a:hover{
			background: rgba(0,0,0,.1);
		}
	.top-bar .dropdown-menu{
		text-shadow: none;
	}
	.top-bar-nav{
		position: absolute;
		left: 10px;
		top: 0;
	}

/**
 * .top-bar-menu-container
 */
.top-bar-menu-container{

}
	.top-bar li a{
		line-height: 30px;
		padding: 0 10px;
	}
	.top-bar .navbar-nav > li > a:hover{
		background: rgba(0,0,0,.1);
	}
/**
 * .top-bar-tools
 */
.top-bar-tools{
	position: absolute;
	right: 10px;
	padding-top: 4px;
	margin-bottom: 0;
}
	.top-bar-tools a{
		box-shadow: none;
	}
	.top-bar-tools .btn-group .btn{
		color: #fff;
	}
	.top-bar-tools .btn-group .btn:active{
		background: rgba(0,0,0,.3);
	}
	.top-bar-tools .user-avatar{

	}
		.top-bar-tools .avatar{
			width: 15px;
			height: 15px;
			vertical-align: middle;
			margin-top: -3px;
		}
		.top-bar-tools .tx{

		}
	.top-bar-tools .meta{
	}
	.top-bar-tools .tool-point img{
		height: 15px;
		width: auto;
		margin-top: -2px;
	}


.main-nav{
	background: #1976d2;
	margin-top: 20px;
	border: none;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	border-radius: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
	.main-nav .navbar-toggle .icon-bar{
		box-shadow: 0 1px 3px rgba(0,0,0,.3);
		background-color: #fff;
	}
	.main-nav .navbar-toggle{
		margin-right: -10px;
	}
	.main-nav .navbar-brand{
		font-size: 18px;
	}

.mx-navbar-toggle{
    position: relative;
    float: right;
    display: block;
    font-size: 18px;
    padding: 5px;
    margin-top: 8px;
    margin-right: 15px;
    color: rgb(153, 153, 153);
    cursor: pointer;
}
/**
 * 
 */
.mx-form{
	display: none;
	padding-left: 10px;
	padding-right: 10px;
}
	.mx-form .input-group{
		width: 100%;
	}
	.mx-form .input-group-btn{
		width: 1px !important;
	}
/**
 * #slidebox
 */
.neck{
	padding: 20px 20px 0;;
}
	.neck .row,
	.neck > div{
		/*padding: 0;
		margin: 0;*/
	}
.slidebox-container{
	position: relative;
	color: #fff;
	margin-bottom: 20px;
}

	

/**
 * crumb
 * 
 * @type module
 * @version 1.0.1
 * @author INN STUDIO <inn-studio.com>
 * 
 */
.crumb{
	position:relative;
	color:#999;
	text-shadow: 0 1px 2px white;
	margin-bottom: 20px;
}
	.mod-title .crumb{margin-bottom: 0;padding: 0;}
	.crumb:after{clear: both;content:'.';display: block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0;}

	.crumb a{
		color:#999;
	}
	.crumb a:link,
	.crumb a:visited{
	}
	.crumb a:hover,
	.crumb a:active{
		color:#607d8b;
	}
	.crumb .split{
		padding:0 1rem;
	}
	.crumb .current-title{
	}
/**
 * .hentry
 */
.hentry .panel-heading{
	/*margin-bottom: 20px;*/
}
/**
 * .singluar-post
 */

 	.singluar-post .panel-heading .avatar{
	 	margin-right: 5px;
 	}
	.singluar-post .entry-title{
		font-size: 20px;
		font-weight: bold;
	}
	.singluar-post .post-header{
		margin-top: 10px;
		font-size: 13px;
		padding-left: 10px;
		color:#666;
	}
	.singluar-post .post-header a{
		color:#666;
		border-bottom: 1px dotted #ccc;
		text-shadow: 0 1px 0 #fff;
	}
		.singluar-post .post-header a:hover,
		.singluar-post .post-header a:active{
			color:#1976d2;
			border-color: #1976d2;
		}
	.singluar-post .post-meta{
		float: left;
		margin-right: 20px;
	}
		.singluar-post .post-meta .avatar{
			vertical-align: top;
		}
		.singluar-post .post-meta:last-child{
			margin-right: 0;
		}
	.singluar-post .post-content{
		padding-top: 0;
		margin-bottom: 10px;
		font-size: 110%;
		line-height: 1.5;
	}
		.singluar-post .post-content p{
			text-align: justify;
		}
	.singluar-post .post-footer{
		color: #999;
		border-top: 1px solid rgba(0,0,0,.05);
	}
	.singluar-post .post-point{
		margin-bottom: 20px;
		
	}
		#post-point-loading-ready{
			display: none;
		}
		.singluar-post .post-point a{
			position: relative;
		}
		.singluar-post .post-point .number{
			padding-left: 25px;
			font-weight: normal;
		}
		.singluar-post .post-point img{
			position: absolute;
			width: 25px;
			height: auto;
			left: 5px;
			bottom: 5px;
		}
	.singluar-post .post-tags{
	}
		.singluar-post .post-tags a{
			display: inline-block;
			font-size: 1em;
			font-weight: normal;
		}
		.singluar-post .post-tags a i{
			margin-top: 3px;
			opacity: .7;
		}
	.singluar-post .post-tags a:active{
		box-shadow: inset 0 10px 10px rgba(0,0,0,.1);
	}
	.singluar-post .post-tags a:hover i{
		opacity: 1;
	}
	.singluar-post .post-share{
	}
	/**
	 * .post-source
	 */
	.post-source{
		list-style-type: none;
		margin-bottom: 20px;
		border: 1px solid #eee;
		padding: 10px 20px;
		border-radius: 4px;
		background: rgb(248,248,248);
		color:#999;
		font-size: 12px;
		line-height: 2;
	}
	/**
	 * .post-storage
	 */
	.post-storage{
		margin-bottom: 20px;
	}
		.post-storage .download-link[target="_blank"]{
			padding-left: 0;
			padding-right: 0;
		}
	/** 
	 * thumb
	 */
	.theme-thumb{
		background:rgba(227,101,50,.1);
		padding:5px 1em;
		color:#E36532;
		font-weight:bold;
		border-radius:99px;
		box-shadow:0 1px 0 rgba(0,0,0,.1) inset,0 -1px 0 white inset;
		text-shadow:0 1px 0 white;
	}

	.theme-thumb-down{
		border-radius:0 99px 99px 0;
		background:rgba(86,175,69,.1);
		color:#56AF45;
	}
		.theme-thumb:hover,
		.theme-thumb:active{
			text-shadow:0 1px 1px black;
			color:white;
		}
		.theme-thumb:active{
			box-shadow:0 5px 10px rgba(0,0,0,.3) inset,0 -1px 0 white inset;
		}
		.theme-thumb-up:hover,
		.theme-thumb-up:active{
			background:#E36532;
		}
		.theme-thumb-down:hover,
		.theme-thumb-down:active{
			background:#56AF45;
		}
/**
 * .related-posts
 */
.related-posts{
}
/**
 * .cats-index
 */
.cats-index .panel-heading{
	text-transform: uppercase;
	font-size: 1.5em;
}

/**
 * .widget-author-card
 */
	#widget-author-card .media{
		display: block;
		margin-bottom: 20px;
	}
		#widget-author-card .media:hover{
			background: rgb(248,248,248);
		}
	#widget-author-card .avatar{
		width: 100px;
		height: auto;
		max-width: none;
	}
	#widget-author-card .author-card-name{
		font-weight: bold;
		margin-top: 5px;
	}
	.author-card-description{
		color:#666;
	}
	#widget-author-card .tx{
		display: block;
	}
	.author-card-meta-links{
		margin-bottom: 20px;
	}
		.author-card-meta-links a{
			font-size: 12px;
		}

/**
 * .author-profile
 */
.author-profile{
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 20px;
	margin: 0 20px 20px;
	margin-bottom: 20px;
}
	.author-profile legend{
		width: auto;
		margin-bottom: 0;
		border-bottom: 0;
		margin-left: 20px;
		padding: 0 20px;
	}
	.author-profile .table{
		margin-bottom: 0;
	}
		.author-profile .table th{
			color:#323232;
			font-weight: normal;
			border: none;
			width: 30%;
		}
		.author-profile .table td{
			border: none;
		}
		.author-profile .table tr{
			border: none;
			border-bottom: 1px solid #F5F5F5;
			
		}
/**
 * .widget_comments 
 */
.widget_comments .media-heading{
	font-size: 1.3rem;
}
.widget_comments .media-body{
	margin-bottom: 0;
	padding-bottom: 0;
}
.widget_comments .author{
	margin-right: .5rem;
	font-weight: bold;
}
.widget_comments .text{
	color:#666;
	line-height: 1.5;
}
	.widget_comments p{
		margin-bottom: 0;
	}
/**
 * .neck
 */
.crumb-title{
	margin-bottom: 20px;
	margin-top: 0;
	padding-left: 20px;
}
	.crumb-title .avatar{
		margin-right: 20px;
	}

/**
 * #ajax-loading
 */
#ajax-loading-container{
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(255,255,255,.95);
	z-index: 100000;
	width: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	text-align: center;
	padding: 10px;
	font-size: 20px;
	line-height: 30px;
}
/** 
 * type
 */
#ajax-loading-container{
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	transition:all .5s;
}
	#ajax-loading-container.close{
		opacity: 0;
	}
	#ajax-loading-container.success,
	#ajax-loading-container.green{background:#defcd5}

	#ajax-loading-container.error,
	#ajax-loading-container.ban{background:#f1d7d7}

	#ajax-loading-container.warning{background:#f6f3d5}

	#ajax-loading-container.help,
	#ajax-loading-container.blue,
	#ajax-loading-container.info{background:#e6f4f9}
	#ajax-loading-container.question{background:#FBEC88}

	#ajax-loading-container.spinner,
	#ajax-loading-container.loading{background:#FBEC88}

	#ajax-loading-container .btn-close{
		position: absolute;
		top: 8px;
		right: 0;
		margin-right: 20px;
		cursor: pointer;
		font-size: 30px;
		color:rgb(251,238,238)
	}
		#ajax-loading-container .btn-close:hover{
			color:#fff;
		}
		#ajax-loading-container .btn-close .number{
			font-size: 90%;
		}
	#ajax-loading-container .tip-status{
		display: inline;
		margin: 0 auto;
		background: none;
		border: none;
	}
	#ajax-loading{
		margin: 0 40px;
	}

/**
 * .list-group-item .excerpt p
 */
.list-group-item .excerpt p{
	margin-bottom: 0;
}
/**
 * .submit-tip
 */
.submit-tip{margin-bottom: 10px;display: none;}

/**
 * input:file
 */
.file-btn-container{
	position: relative;
	overflow: hidden;
}
	.file-btn-container input[type="file"]{
		position: absolute;
		font-size: 99em;
		right: -10px;
		top: -10px;
		opacity: 0;
		cursor: pointer;
}

/**
 * .collection-list
 */
.collection-list{
	margin: 20px -20px;
}
.collection-list a{
	position: relative;
	display: block;
	padding: 20px 20px 0;
}
	.collection-list span{
		display: block;
	}
	.collection-list .list-group-item{
		padding: 0;
		border-right: none;
		border-left: none;
		border-radius: 0;
	}
	.collection-list .list-group-item:after{
		content:'1';
		position: absolute;
		top: 0;
		right: 10px;
		font-size: 3em;
		color:#1976d2;
		opacity: .1;
		font-weight: bold;
	}
	.collection-list .list-group-item:hover:after{
		color:#d9534f;
	}
		.collection-list .list-group-item:nth-child(2):after{content:'2';}
		.collection-list .list-group-item:nth-child(3):after{content:'3';}
		.collection-list .list-group-item:nth-child(4):after{content:'4';}
		.collection-list .list-group-item:nth-child(5):after{content:'5';}
		.collection-list .list-group-item:nth-child(6):after{content:'6';}
		.collection-list .list-group-item:nth-child(7):after{content:'7';}
		.collection-list .list-group-item:nth-child(8):after{content:'8';}
		.collection-list .list-group-item:nth-child(9):after{content:'9';}
		.collection-list .list-group-item:nth-child(10):after{content:'10';}
		.collection-list .list-group-item:nth-child(11):after{content:'11';}
		
	.collection-list .list-group-item-text{
		color:#666;
		margin-bottom: 20px;
		line-height: 1.5;
	}
	.collection-list-thumbnail-container{
		display: block;
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
	}
	.collection-list-thumbnail{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}
	.collection-list .list-group-item-heading{
		color: #d9534f;
		font-size: 1.3em;
	}
	.collection-list .list-group-item:nth-child(2n+1){
		background: #f8f8f8;
	}
	.collection-list .list-group-item:hover{
		background-color: #eee;
	}
		.collection-list .list-group-item:hover span{
		}
/**
 * .header-nav-account-menu
 */
.header-nav-account-menu{
	display: none;
}

/**
 * .widget-area .list-group
 */
.widget-area .list-group{
	padding: 0;
	margin-top: -10px;
}

	.widget-area .list-group .list-group-item{
		padding: 0;
		margin: 0;
		border-bottom: none;
	}
	.widget-area .list-group .list-group-item:nth-child(2n){
		background: #f8f8f8;
	}
	.widget-area .list-group .list-group-item:hover{
		background: #ececec;
	}
		.widget-area .list-group .list-group-item:hover .number{
			color:rgba(66,139,202, .3);
		}
	.widget-area .list-group .media{
		padding: 20px;
	}
		.widget-area .list-group .media:hover{
		}
	.widget-area .list-group .media-body{
		position: relative;
		z-index: 1;
	}
	.widget-area .list-group .description{
		color:#999;
	}
	.widget-area .list-group .number{
		position: absolute;
		top: 0;
		right: 10px;
		font-size: 3em;
		color: #F2F2F2;
		font-style: italic;
		font-weight: bold;
		content: "1";
		text-shadow: 0px 1px 0px #FFF;
		z-index: 0;
	}

/**
 * .widget .user-lists
 */

.widget .user-list{
	position: relative;
	text-align: center;
	margin-bottom: 20px;
	
}
	.widget .user-list a{
		display: block;
	}
	.widget .user-list .author{
		font-weight: normal;
		font-size: 14px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.widget .user-list .extra{
		/*display: none;*/
		position: absolute;
		top: 0;
		right: 10px;
		background: rgba(217,83,79,.6);
		color:#fff;
		border-radius: 4px;
		padding: 0 3px;
		font-weight: bold;
		font-size: 12px;
	}
	.widget .user-list .avatar-container{
		position: relative;
	}
		.widget .user-list .placeholder{
			opacity: 0;
		}
		.widget .user-list .avatar{
			position: absolute;
			left: 0;
			top: 0;
		}
	.widget .user-list img{
		width: 100%;
	}
	.widget .user-list:hover .avatar{
		opacity: .8;
	}
	.widget .user-list:hover .extra{
		opacity: 1;
		background: #d9534f;
		box-shadow: 0 0 3px rgba(0,0,0,.3);
	}
/**
 * footer
 */
#footer{
	position: relative;
	margin-top: 20px;
	padding-top: 30px;
	background: #1976d2;
	padding-bottom: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.1) inset;
}

	#footer .widget{
		overflow: hidden;
	}
		#footer .panel:after{
			display: none;
		}
	#footer .copyright,
	#footer .copyright a{
		color:#fff;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
	}
	#footer .copyright a{
		border-bottom: 1px dotted #fff;
	}
	#footer .copyright a:hover,
	#footer .copyright a:active{
		border-bottom-style: solid;
	}
/**
 * .back-to-top
 */
.back-to-top{
	position: fixed;
	bottom: 0;
	right: 5px;
	opacity: .3;
	text-shadow: 0 1px 3px rgba(0,0,0,.3);
	z-index: 1;
	color: #fff !important;
}
	.back-to-top:hover{
		opacity: 1;
	}
	
/**
 * .pager
 */
.pager .active span{
	border-color: #1976d2;
	background: #1976d2;
	color:#fff;
}
@media (min-width: 768px){
	.mx-form{
		position: absolute;
		top: 0;
		height: 43px;
		right: 120px;
		background: rgba(0,0,0,.3);
		border-radius: 2px;
	}
	.menu-header{
		padding-left: 0;
	}
	.main-nav{
		height: 64px;
		background: none;
	}
	.main-nav .dropdown-menu{
		text-shadow: none;
	}
	.main-nav .dropdown-menu{
		text-shadow: none;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
	.main-nav .dropdown-menu > li:hover > a,
	.main-nav .dropdown-menu > li > a:hover{
		background: #1976d2;
		color: #fff;
	}
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	.navbar-nav{
		margin: 0;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
		margin-left: -10px;
	}
	.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
		margin-left: 0;
		margin-right: 0;
	}
}
/**
 * media 
 */
@media (max-width: 767px){
	.main-nav{
		margin: 0 0 20px;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
		color: #fff;
	}
	.navbar-inverse .navbar-toggle:hover, 
	.navbar-inverse .navbar-toggle:focus{
		background: rgba(0,0,0,.1);
	}
	.mx-form{
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: none;
	}
	.mx-search-btn,
	.mx-user-btn{
		float: right;
		margin-right: 10px;
	}
	.navbar-toggle{
		float: left;
		margin-right: 0;
	}
	.header-nav-account-menu{
		border-top: 1px solid rgba(0,0,0,.1);
	}
	.navbar-header .mx-tool{
		display: block;
	}


}
@media (min-width: 992px){

}
@media (min-width: 1300px){
	.container{
		width: 1270px;
	}
}
