.post-download-module{
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid #eee;
	padding: 20px 20px 0;
	background: rgb(248,248,248);
}
	.post-download-module legend{
		width: auto;
		border: none;
		margin: 0;
	}
	.post-download-module .control-label{
		font-weight: normal;
		margin: 0;
	}
.post-download-module .pwd{
	text-align: center;
	font-weight: bold;
}
