.panel-tags-index .panel-heading{
	text-transform : uppercase;
	font-size: 1.5em;
}
.panel-tags-index .tags-title{
	margin: 0 0 10px;
	font-size: 1.2em;
}
	.panel-tags-index .tags-title a{
		background: rgb(245,245,245);
		border-radius: 4px;
		padding: 2px 5px;
	}
	.panel-tags-index ul{
		padding-left: 10px;
		list-style-type: none;
		margin-bottom: 20px;
	}
	.panel-tags-index li{
		position: relative;
	}
		.panel-tags-index li a{
			display: block;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			color:#666;
			line-height: 2;
		}
			.panel-tags-index li a:hover,
			.panel-tags-index li a:active,
			.panel-tags-index li a:hover:before{
				color:#FF4081;
			}
		.panel-tags-index li a:before{
			font-family: 'FontAwesome';
			content:"\f105";
			margin-right: 10px;
			color:#999
		}
	.panel-tags-index .extra-thumbnail{
		display: none;
		position: absolute;
		bottom: 150%;
		max-width: 50%;
		background: #fff;
		box-shadow: 0 0 5px rgba(0,0,0,.3);
		border-radius: 4px;
		padding: 10px;
	}
		.panel-tags-index li:hover .extra-thumbnail{
			display: block;
		}
		.panel-tags-index .extra-thumbnail:after{
			position:absolute;
			background:#fff;
			width:15px;
			height:15px;
			left:20px;
			bottom:-7.5px;
			z-index:0;
			content:'';
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);	
			transform: rotate(-45deg);
			box-shadow:-2px 2px 2px rgba(0,0,0,.2);
		}
	.panel-tags-index .panel-body{
		padding: 0;
	}