#ctb-file-btn{
	position: relative;
	overflow: hidden;
}
#ctb-file{
	position: absolute;
	font-size: 99em;
	right: -10px;
	top: -10px;
	opacity: 0;
	cursor: pointer;
}
#fm-ctb label.error{
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	margin: 10px 0 0;
	
}
	#fm-ctb label.error:after{
		top: -5px;
		left: 10px;
	}