#fm-bomb{
	display: none;
}
.bomb-area-meta img{
	vertical-align: top;
}
.attack-sign{
	padding-top: 20px;
	
}
.bomb-area{
	text-align: center;
}
.bomb-area-attacker{
	
}

.bomb-area span{
	display: block;
}
#bomb-target{
	text-align: center;
}
.bomb-area-points{
	text-align: center;
}
.bomb-area-points h4{
	font-size: 16px;
}
.bomb-area-points label{
	display: block;
	padding: 5px 0;
	font-size: 15px;
}
