/**
 * .mx-sign-panel
 */
.mx-sign-panel{
	overflow: inherit;
	box-shadow: 0 5px 30px rgba(0,0,0,.3);
}
	.mx-sign-panel .panel-heading{
		background: #fff;
		padding: 30px 30px 0;
		text-align: center;
		border: none;
		color: #0288D1;
		margin-bottom: 0;
	}
	.mx-sign-panel.has-avatar{
		margin-top: 60px;
	}
	.mx-sign-panel .avatar{
		/*border-radius: 99px;*/
		width: 96px;
		height: 96px;
		margin-bottom: 20px;
		margin-top: -80px;
		padding: 5px;
		background: #fff;
		box-shadow: 0 -3px 3px rgba(0,0,0,.1);
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}
	.mx-sign-panel .panel-heading h3{
		font-weight: 100;
		margin: 0;
	}
	.mx-sign-panel .panel-body{
		padding: 30px 30px 15px;
		box-shadow: none;
		border: none;
	}
