/*********************/
/** jRating CSS **/
/*********************/

/**Div containing the color of the stars */
.jRatingAverage {
	background-color:#f62929;
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}
.jRatingColor {
	background-color:#f4c239; /* bgcolor of the stars*/
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:100%;
}

/** Div containing the stars **/
.jStar {
	position:relative;
	left:0;
	z-index:3;
	background:url('../../../../images/min/modules/jrating/stars.png') repeat-x;
}

/** P containing the rate informations **/
p.jRatingInfos {
	position:		absolute;
	z-index:10;
	/*background:	transparent url('../../../../images/min/modules/jrating/bg_jRatingInfos.png') no-repeat;*/
	background:rgba(255,255,255,.9);
	display:		none;
	width:			91px;
	height:			30px;	
	line-height:30px;
	margin-top:-50px;
	font-size:16px;
	text-align:center;
	border:1px solid rgb(150,150,150);
	border-radius:3px;
	box-shadow:0 0 3px rgba(0,0,0,.3);
	font-weight:bold;
}
	p.jRatingInfos:before{
		background:white;
		position:absolute;
		bottom:-6px;
		left:50%;
		width:10px;
		height:10px;
		margin-left:-5px;
		box-shadow:1px 1px 1px rgba(0,0,0,.2);
		border-right:1px solid rgb(150,150,150);
		border-bottom:1px solid rgb(150,150,150);
		content:'';
		z-index:11;
		transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
	}
	p.jRatingInfos span.maxRate {
		color:#c9c9c9;
		font-size:14px;
	}
	